@font-face {
    font-family:RobotoLI;
    src: url(./Fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family:RobotoBOLD;
    src: url(./Fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(./Fonts/Roboto-Regular.ttf);
}

html, body {
    box-sizing: border-box;
    height: 100%;
  }

*{
    margin: 0px;
}

.headerbox{
    height: 530px;
    background-color: #1f2937;
}

.headerbox .header{
    position: relative;
    width: 70%;
    margin-left: 15%;
    top:15px;
    color:white;
    display: flex;
    justify-content: space-between;
}

.headerbox .header .headm {
    font-family: RobotoBOLD;
    font-size: 24px;
    flex: 1 1 auto;
    color: #F9FAF8;
}

.headerbox .header .headl{
    font-family: Roboto;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    color: #E5E7EB;
    gap:25px;
}

.headerbox .headercontent{
    position: relative;
    width: 70%;
    margin-left: 15%;
    top:120px;
    color:white;
    display: flex;
}

.headerbox .headercontent .main{
    font-family: RobotoBOLD;
    flex: 1;
    font-size: 48px;
}

.headerbox .headercontent .image p{
    color: #ffffff;
}

.headerbox .headercontent .image{
    background-color: rgb(255, 255, 255,0.3);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.headerbox .headercontent .side{
    font-family: Roboto;
    font-size: 18px;
    color: #E5E7EB;
    letter-spacing: 0.75px;
    line-height: 25px;
}
.headerbox .headercontent .bt button{
    border: 0px;
    font-family: Roboto;
    padding: 8px 30px;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
    background-color: #3882F6;

}
